<script>
import Vue from 'vue';
import {{ properCase name }} from '@/entry';

export default Vue.extend({
    name: 'ServeDev',
    components: { {{ properCase name }} },
})
</script>

<template>
    <div id="app">
        <{{ properCase name }} />
    </div>
</template>